body{
    background-color: purple;
}

.test{
    width: 100px;
    height: 50px;
    border: 1px solid #000;
    background-color: red;
}
/* 
@media (prefers-color-scheme) {
    body {
        background-color: #333;
    }
} toggle to dark mode */

/* @media(min-width: 760px){
    body{
        background-color: green;
    }
} toggle to green color when bigger than 760px*/