*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn{
    padding: 16px 32px;
    cursor: pointer;
}
.btn-2{
    padding: 1rem 2rem;
    cursor: pointer;
}
#showcase{
    height: 70svh;
    background-color: darkslateblue;
    color: #fff;
    
    padding: 3rem;

    .headline{
        font-size: 4rem;
    }
    .subheading{
        font-size: 2rem;
        color: #fff;
    }
   
} 
