*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 2fr;
}
.grid div{
    background-color: #dadada;
    padding: 1rem;
    border: 1px solid #333;
    
}
.grid div:nth-child(even){
    background-color: #a89f9f;
}