body{
    margin: 0;
}
/* Absolute */
.px{
    font-size: 20px
}

.box{
    font-size: 20px;
}


/* Relative */
.em{
    font-size: 2em;
}
.rem{
    font-size: 2rem;
}

.wrapper{
    width: 60vw;
    height: 50vh;
    border: 5px solid purple;
}
.width{
    border: 2px solid green;
    height: 50px;
    width: 50%;
}
.hero{
background-color: purple;
height: 100vh;
}